# Ignore all .log files
*.log

# Ignore build directories
build/

# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore temporary files from IDEs like VS Code or JetBrains
.vscode/
.idea/

target/
